@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

#background {
  display: flex;
flex-direction: column;
justify-content: space-between;
align-items: end;
padding: 10px;
gap: 10px;
background-image: url('../assets/Welcome.jpg');
background-size: cover;
filter: contrast(150%) hue-rotate(330deg);
height: 94.3vh;
}

#heroTitle{
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px;
padding-top: 5%;
gap: 10px;



}

#MATA{
  width: 45%;
  
  
  text-align: end;
  font-family: 'Jeju Gothic', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 87px;
  
  color: #FFFFFF;

}

#main{
  width: 70%;
  height: 44px;
  
  text-align: end;
  font-family: 'Jeju Gothic', sans-serif;
  font-style: normal;
  font-weight: 550;
  font-size: 40px;
  line-height: 44px;
  padding-right: 3%;
/* identical to box height */


color: #FFFFFF;

}
#heroContent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  text-align: center;
  padding: 10px;
  padding-right: 15%;
  gap: 10px;
  
  
 
}

#firstExplanation{
  
height: 19px;
width: 60%;
font-family: 'Jeju Gothic', sans-serif;
font-style: normal;
font-weight: 550;
font-size: 32px;
line-height: 40px;

color: #FFFFFF;
}

#secondExplanation{
  
height: 19px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;

color: #FFFFFF;
}



